/********************************************************************
      File: /~snguyen/Assignment_5/TextStyles-v8.css
      Author: Son Nguyen, UMass Lowell Computer Science Student
      Course: 91.461 GUI Programming I
      E-mail: son_nguyen@student.uml.edu 
      Date Created: September 23, 2014
      Description: This is CSS page use for to style every page.
      Updated by Son Nguyen on October 6, 2014 at 11:59 PM
*********************************************************************/

/*font line and style in side the body*/
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: #e2edff;
  line-height: 1.25;
  padding: 15px;
}



/* visited link */
a:visited {
  color: purple;
  text-decoration: underline; 
  text-decoration: overline;
}


/* selected link */
a:active {
  color: white;
  text-decoration: underline;
}


/* major header properties */
.title, .author, .authorsTitle {
  font-family: Verdana, Helvetica, Arial, sans-serif ;
  color: blue ;
  margin: 0 0 0 0 ;
}
/* author's title header refinement */
.authorsTitle {
  font-weight: normal ;
  margin-left: 1.7em ;
}

/* minor header properties */
.location, .locationLabel, .date {
  color: blue ;
}
/* minor header refinements */
.location, .locationLabel {
  margin-bottom: 0 ;
}
/* additional minor header refinements */
.locationLabel {
  font-style : italic ;
  font-weight: normal ;
}
/* additional minor header refinements */
.location, .date {
  margin-top: 0 ;
}

/* first letter of main text for Safari and Chrome */
h3.date + p:first-letter {
  font-size: 3em ;
  font-weight: bold ;
  float: left ;
  color: red ;
  margin-right: 1px ;
  margin-top: -0.15em ;
}

/* first letter of main text for Firefox */
h3.date + p.Firefox:first-letter {
  margin-top: 0.15em ;
}

/*reuse code from JHM*/
#divRenekton {
  float: right ;
  padding: 10px ;
  margin: 30px 0px 10px 20px ;  /* T R B L */
}
#divRenekton p:first-child {
  text-align: right ;
}

#divRenekton p:first-child img {
  border: 1px solid black ;
}



